*{
  margin: 0;
  color: white;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 86vh;
  padding-top: 14vh;
  background:linear-gradient(to bottom right, orange, rgb(255, 187, 0));
}

header {
  width: 100vw;
  height: 13vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  font-size: 3.5vh;
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

header > select {
  font-size: 2vh;
  background-color: transparent;
  border: 0;
}

/* --- SongList --- */
.song-list {
  display: inline-block;
  width: 50vw;
  max-width: 500px;
  height: 80vh;
}

.song-list .song {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1vh 0;
}

.song-list img {
  width: 11vh;
  height: 11vh;
  border-radius: 0.5vh;
  user-select: none;
}

.song-list p {
  display: inline;
  width: 50%;
  font-size: 1.6vh;
}