*{
  margin: 0;
  color: white;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  height: 86vh;
  padding-top: 14vh;
  background:linear-gradient(to bottom right, orange, rgb(255, 187, 0));
}

header {
  width: 100vw;
  height: 13vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  font-size: 3.5vh;
  font-weight: bold;
  transition: ease-in-out 0.2s;
}

header > select {
  font-size: 2vh;
  background-color: transparent;
  border: 0;
}

header > .stats-icon {
  width: 5vh;
  position: fixed;
  top: 4vh;
  right: 3vh;
  cursor: pointer;
}

header > .player-icon {
  width: 5vh;
  position: fixed;
  top: 4vh;
  left: 3vh;
  cursor: pointer;
}

/* --- SongList --- */
.song-list {
  display: inline-block;
  width: 50vw;
  max-width: 500px;
  height: 80vh;
}

.song-list .song {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1vh 0;
  transition: ease-in-out 0.2s;
}

.song-list .song:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.song-list img {
  width: 11vh;
  height: 11vh;
  border-radius: 0.5vh;
  user-select: none;
}

.song-details {
  width: 50%;
}

.song-list h3 {
  display: block;
  font-size: 1.7vh;
  margin-top: -1vh;
}

.song-list p {
  display: block;
  font-size: 1.1vh;
  margin-top: 0.5vh;
  opacity: 0.6;
}

